/* HTML СТРАНИЦА ЛИЧНАЯ (Портфолио) */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}

header img {
  width: 150px;
  border-radius: 50%;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project {
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project img{
    max-width: 100%;
    max-height: 80%;
    border-radius: 8px;
}
footer {
  margin-top: -20px;
  font-size: 0.9em;
  color: #777;
  text-align: center;
}

.social-links {
  margin: 20px 0;
}

.social-links a {
  margin: 0 10px;
  display: inline-block;
}

.social-links img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.social-links img:hover {
  transform: scale(1.1);
}
